body {
    padding: 50px;
}

.tab {
    padding: 20px;
    margin: 0 auto;
    display: none;
    border: 0.5px solid lightgray;
    border-radius: 4px;
}

#logo{
    float: left;
    padding: 20px;
    max-width: 100%;
}

#logo2{
	margin: 0px 0px 10px 18.4%;
}

@media only screen and (max-width: 700px) {
#logo2{
	display: none;
}
}

footer {
    background-color: #F5F5F5;
    padding: 10px;
    text-align: center;
    color: black;
}

#home li{
    list-style-image: url("../images/success.png")
}

label{
	text-align:center
}

body h3{
    font-family: 'Times New Roman', Times, serif;
}

div textarea{
    resize: vertical;
}

#result{
	margin: 0px 0px 0px 18.5%;
}

#busc li{
	list-style-image: none;
	list-style: none;
}

#busc li li{
	list-style-image: none;
	list-style: square;
}

#busc img{
	border-radius: 8px;
	width: 250px;
	height: 170px;
}

#detalhefotos img{
	border-radius: 8px;
	width: 790px;
}

#recsenha{
	margin: 0px 10px 0px 0px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}